/target/*
**/target/*
*/target/*
target/
**/bin/*
generated/*
**/*.ec
**/*.ipr
**/*.iml
**/*.iws
**/.classpath
.classpath
**/.project
.project
**/.settings
.settings
.settings/
**/*.class
.DS_Store
**/.DS_Store
/generated
/target-ide
